<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img_folder/favicon-32x32-removebg-preview.png">
    <link rel="stylesheet" href="static/about.css">
    <title>home</title>
</head>
<body>
    <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('display')}}">View Profile</a></li>
        <li><a href="{{url_for('aboutus')}}">About us</a></li>
        <li><a href="{{url_for('contactus')}}">Contact</a></li>
        <li><a href="{{url_for('howtoadopt')}}">How to adopt</a></li>
        <li><a href="{{url_for('adopt')}}">Adopt a pet</a></li>
        <li><a href="{{url_for('donate')}}">Donate</a></li>

    </ul>

    <h1>About US</h1>
  
</body>
</html>